<div class="poster">
  <img src="{{ poster.image }}" alt="{{ poster.altText }}" class="poster-image">
  <div class="poster-footer">
    <div class="col1-row1">
      <div><b>{{ poster.col1.row1.title }}</b></div>
      <div>&nbsp;</div>
      <div>{{ poster.col1.row1.description }}</div>
    </div>
    <div class="col2-row1">
      <div><b>{{ poster.col2.row1.title }}</b></div>
      <div><a href="{{ poster.col2.row1.mapLink }}" target="_blank">{{ poster.col2.row1.address }}</a></div>
      <div>{{ poster.col2.row1.date }}</div>
    </div>
    <div class="col1-row2">
      <div><i>This is a free event but please RSVP:</i></div>
      <div><a href="mailto:tickets@futurekaraoke.live">tickets@futurekaraoke.live</a></div>
    </div>
    <div class="col2-row2">
      <div><i>Sign up for a spot on stage:</i></div>
      <div><a href="mailto:speak@futurekaraoke.live">speak@futurekaraoke.live</a></div>
    </div>
  </div>
</div>
